html{
    background-image: url("https://i129.photobucket.com/albums/p225/Loraxis/smokeymountains0045copy.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    color: white;
}